$brand-primary:  #023f8d !default;
$navbar-default-link-color:  lighten(#023f8d, 10%) !default;

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: white;
}

.navbar-header > button {
  @media (max-width: $screen-sm) {
    margin-top: 17px;
  }
}

#primary-logo {
  width: auto;
  height: 45px;
  margin-top: 15px;
  margin-bottom: 10px;
  @media (max-width: $screen-sm) {
    margin-left: 14px;
  }
}

#link-nav {
  margin-top: 12px;
  margin-bottom: 6px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #023f8d;
  text-decoration: none;
}

strong {
  font-weight: 400;
}
.strong-italic {
  font-weight: 600;
  font-style: italic;
}

.bold-black {
  font-weight: 900;
  font-style: italic;
}

.content-row {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
}
.top-row {
  padding-top: 90px;
  position: relative;
}
.bottom-row {
  padding-bottom: 90px;
  position: relative;
}

#problems {
  padding-top: 160px;
}

.problem-subhead {
  font-size: 26px;
  font-weight: 700;
}

#challenges-examples {
  padding-top: 20px;
  text-align: center;
}

.problem-stmt {
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
  color: #aaa;
}

.line-overlay {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  margin-bottom: -26px;
  z-index: 100;
  >.line-overlay-box {
    color: #bbbbbb;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    display: inline-block;
    background-color: rgba(255,255,255,0.9);
  }
}

.line-overlay-link {
  color: #aaaaaa;
  font-size: 18px;
  font-weight: 300;
  background-color: white;
  &:hover {
    text-decoration: none;
    color: #777777;
  }
  >.line-overlay-text {
    position: relative;
    top: 3px;
  }
  >.line-overlay-caret {
    position: relative;
    top: -3px;
    font-size: 14px;
  }
}

.about-text-1 {
  font-size: 16px;
  font-weight: 400;
}

.about-text-2 {
  font-size: 24px;
  font-weight: 700;
}

#about-image {
  text-align: center;
}

.cta {
  padding-top: 20px;
  text-align: center;
}
.cta-button {
  width: 40%;
}

#services, #team, #about {
  border-top: 1px dotted #bbb;
}

.services-workflow {
  position: relative;
  z-index: 1;
}

.services-header, .challenges-header {
  background-color: white;
  font-size: 18px;
  font-weight: 800;
  border: 3px solid;
  border-color: #023f8d;
  min-height: 20px;
  width: 80%;
  margin-left: 14px;
  padding: 7px;
  text-align: center;
}

.services-header {
  -webkit-transform: skew(-5deg);
     -moz-transform: skew(-5deg);
       -o-transform: skew(-5deg);
}

.cols-centered {
  float: none;
  margin: 0 auto;
}

#challenges-header {
  position: relative;
}


.services-connector {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: -1;
    border-top: 3px solid;
    border-color: #023f8d;
    @media (max-width: $screen-sm) {
      display:none;
    }
  }

.services-description {
  padding: 10px;
  padding-right: 30px;
  font-size: 14px;
  font-weight: 400;
  @media (max-width: $screen-sm) {
    padding-bottom: 40px;
  }
}

.team-who, .team-about {
  position: relative;
  left: 0px;
}
.team-pic {
  max-width: 120px;
}
.team-name {
  font-size: 20px;
  font-weight: 700;
}
.team-title {
  font-size: 16px;
  font-weight: 400;
}
.team-about {
  font-size: 16px;
  font-weight: 400;
}
